* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header"
  "nav cards"
}

.nav {
  grid-area: nav;
  background: yellow;

}

.cards {
  grid-area: cards;
  justify-content: start;
  float: left;
}

header {
    grid-area: header;
    background-color: blue;
    padding: 50px;
    text-align: center;
}

Header h1 {
    font-size: 50px;
    color: white;
}


.indexKaart {
    display: inline-block;
    background-color: #e6ffff;
    width: 350px;
    height: 120px;
    border: 2px solid blue;
    border-radius: 15px;
    margin: 5px;
}

.persInfo {
    text-align: left;
    line-height: 1.6;
}

.buttonactive {
    background-color: rgb(255, 0, 0);
}