* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  "header header"
  "data data"
  "nav cards";
}

.nav {
  grid-area: nav;
  background: yellow;

}

.cards {
  grid-area: cards;
  justify-content: start;
  float: left;
}

header {
    grid-area: header;
    background-color: blue;
    padding: 50px;
    text-align: center;
}

.dataFields {
    border: solid 1px blue;
    grid-area: data;
    padding: 25px 0;
}

.plusImg {
    position: relative;
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.cancelImg {
    position: relative;
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.cancelImg:hover {
    box-shadow: 5px 5px 5px grey;
}

.saveImg {
    width: 60px;
    height: 60px;
    transition: 0.2s;
}

.saveImg:hover {
    box-shadow: 5px 5px 5px grey;
}

Header h1 {
    font-size: 50px;
    color: white;
}

.indexKaart {
    display: inline-block;
    background-color: #e6ffff;
    width: 350px;
    height: 120px;
    border: 2px solid blue;
    border-radius: 15px;
    margin: 5px;
}

.indexKaart:hover {
    cursor: pointer;
}

.persInfo {
    text-align: left;
    line-height: 1.6;
}

.buttonactive {
    background-color: rgb(255, 0, 0);
}